<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Vivek</title>
        <style>
            .main{
                width:1000px;
                background-color: white;
            }
        </style>
    </head>
        <body style = "background-color:powderblue;">
            <h1 style= "background-color:tomato">Building your future</h1>
            <p style="color:red; font-size:90%">
                Constructing a beautiful building requires careful planning and attention to detail throughout the entire process. 
                It begins with a well-designed architectural plan that takes into account the building's purpose, aesthetics, and structural requirements.
            </p> 
            <h2 style= "background-color:LightCoral">Your luxary at heart</h2>
            <p style="color:red; font-size:90%">The selection of high-quality materials, skilled craftsmen, and experienced contractors is also essential. 
                The construction phase involves precise execution of the plan, with constant monitoring and adjustment to ensure the building's integrity and safety. 
                Finishing touches, such as landscaping and interior design, contribute to the overall beauty of the building. 
            </p>
            <h3>Your safety is our priority</h3>
            <p style="color:red; font-size:90%"; title = thirdPara>A beautiful building is not only aesthetically pleasing but also functional, durable, and sustainable. 
                It is a result of collaboration between talented professionals who share a vision of creating something truly exceptional.</p>
            <br>
            <a href="https://www.team21.in/portfolio.html">Designing branch</a>
            <br>
            <center>
            <img src="Kakashi1.jpg" alt="logo" width="300" height="600">
            </center>
            <div class= "main"> This is div </div>
            <p title="This gives an extra information of the element">Contact us</p>
            
        </body>

        </html>